* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    /* overflow: scroll; */
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: white;
}

a,
a:hover,
a:visited,
a:link,
a:active {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: "adamGorry";
    src: url("../fonts/adam_gorry_inline.ttf") format('truetype');
}

.casestudyContainer {
    background-color: black;
    overflow: scroll;
    padding-bottom: 30vh;
}

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.brandContainer {
    min-height: 6.25vh;
    background: #EB008B;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.headerLogo {
    width: 24vw;
    height: auto;
}

.casestudyLink {
    bottom: 0;
    right: 0;
    align-self: flex-end;
}

.casestudySmall .casestudyLink {
    display: block;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
}

.casestudyH1 {
    font-size: 2.8em;
    line-height: 2em;
    font-family: adamGorry, Helvetica;
    font-weight: 400;
    width: 100%;
}

.casestudySmall .casestudyH1 {
    width: 100%;
    font-size: 1.8em;
    line-height: 1.2em;
    align-self: flex-end;
    margin: 0em 0em 2.4em 2em;
}

.casestudyPara {
    width: 80%;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.heroContainer {
    width: 100vw;
    height: 650px;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/Hero.jpg") no-repeat center;
    background-size: cover;
    display: flex;
}

.heroContentContainer {
    width: 100%;
    align-self: flex-end;
    margin: 0em 0em 4em 4em;
}

.casestudySmall {
    width: 49.5vw;
    height: 450px;
    float: left;
    display: flex;
}

.casestudyleft {
    margin: 0.5% 0.5% 0.5% 0%;
}

.casestudyright {
    margin: 0.5% 0% 0.5% 0.5%;
}


/* CASE STUDY BACKGROUND IMAGES */

.casestudySmall1 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 1) 90%), url("../img/casestudy1.jpg") no-repeat center;
    background-size: cover;
}

.casestudySmall2 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/casestudy2.jpg") no-repeat center;
    background-size: cover;
}

.casestudySmall3 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/casestudy3.jpg") no-repeat center;
    background-size: cover;
}

.casestudySmall4 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/casestudy4.jpg") no-repeat center;
    background-size: cover;
}

.casestudySmall5 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/casestudy5.jpg") no-repeat center;
    background-size: cover;
}

.casestudySmall6 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/casestudy6.jpg") no-repeat center;
    background-size: cover;
}

.casestudySmall7 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/casestudy1.jpg") no-repeat center;
    background-size: cover;
}

.casestudySmall8 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/casestudy2.jpg") no-repeat center;
    background-size: cover;
}

.casestudySmall9 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/casestudy3.jpg") no-repeat center;
    background-size: cover;
}

.casestudySmall10 {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%), url("../img/casestudy4.jpg") no-repeat center;
    background-size: cover;
}


/* end CASE STUDY BACKGROUND IMAGES */


/* Scroll: */

.scrollDownContainer {
    width: 100vw;
    height: 25vh;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(235, 0, 139, 0.80) 100%);
    /* background-image: url(''); */
}

.scrollElement {
    width: 100vw;
    height: auto;
    margin-bottom: 2em;
}

p.scrollDownText {
    text-align: center;
    font-family: 'Helvetica', Arial;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

img.scrollDownIcon {
    display: block;
}


/* Flexbox */

.flex {
    display: flex;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Align-bottom {
    align-self: flex-end;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}